<html>

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
</head>

<body>
    <div class="container" style="height:80%; margin: blue 3px solid;">
        <div class="jumbotron">
            <div class="previous_messages">
                <ul>
                    <% for(var i=0;i<messages.messages.length;i++){ %>
                        <%  if(messages.messages[i].response_type == "sent"){ %>
                            <div class="container">
                                <div class="jumbotron">
                                    <li>
                                        <h5 style="color:blue; text-align:right;">
                                            <%=messages.sender%>
                                        </h5>
                                        <h6 style="color:blue; text-align:right;">
                                            <%=messages.messages[i].message%>
                                        </h6>
                                    </li>
                                </div>
                            </div>
                            <%}else{%>
                                <div class="container">
                                    <div class="jumbotron">
                                        <li>
                                            <h5 style="color:green; text-align:left;">
                                                <%=messages.receiver%>
                                            </h5>
                                            <h6 style="color:green; text-align:left;">
                                                <%=messages.messages[i].message%>
                                            </h6>
                                        </li>
                                    </div>
                                </div>
                                <%}%>
                                    <% }; %>
                </ul>
            </div>
        </div>
    </div>
    <div class="container" style="height:20%; margin: black 3px solid;">
        <div class="jumbotron">
            <div>
                <form action="/send_message" method="POST">
                    <input type="text" name="message" id="message">
                    <button type="submit" class="btn btn-success">SEND</button>
                </form>
            </div>
        </div>
    </div>


</body>

</html>