<html>

<head>
    <title>Successfully Registered!!</title>
</head>

<body>
    <h1>Hi
        <%=user.first_name%>!! You have succesfully registered!!</h1>
    <p>
        Visit the <a href="/sign-in">Sign in</a>page to use CRYPTO-M.
    </p>
</body>

</html>